@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

@layer components {
  .table-cell_exist_border {
    @apply border-r-[1px] text-center h-full p-2;
  }

  .table-cell_none_border {
    @apply text-center h-full p-2;
  }

  .table-main-cell_p {
    @apply p-2;
  }

  .title-main {
    @apply font-bold text-lg pb-4;
  }

  .table-align_center {
    @apply flex justify-center items-center;
  }

  .table-cell-title_border_br {
    @apply border-b-[1px] border-r-[1px] border-gray-300 bg-neutral-100 table-align_center py-5;
  }

  .table-cell_border_br {
    @apply border-b-[1px] border-r-[1px] border-gray-300 bg-white table-align_center py-5;
  }

  .table-cell-title_border_r {
    @apply border-r-[1px] border-gray-300 bg-neutral-100 table-align_center py-5;
  }

  .table-cell_border_r {
    @apply border-r-[1px] border-gray-300 bg-white table-align_center py-5;
  }

  .table-cell-title_border_b {
    @apply border-b-[1px] border-gray-300 bg-neutral-100 table-align_center py-5;
  }

  .table-cell_border_b {
    @apply border-b-[1px] border-gray-300 bg-white table-align_center;
  }

  .prev_pagination_btn {
    @apply px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
  }

  .next_pagination_btn {
    @apply px-4 py-2 text-sm font-medium text-white bg-gray-800 border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
  }

  .num_pagination_btn {
    @apply px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 cursor-default;
  }
}
