@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

@layer components {
  .table-cell_exist_border {
    @apply border-r-[1px] text-center h-full p-2;
  }

  .table-cell_none_border {
    @apply text-center h-full p-2;
  }

  .table-main-cell_p {
    @apply p-2;
  }
}
